GREENAPI_URL=https://7107.api.greenapi.com
GREENAPI_INSTANCE=TU_INSTANCE_ID
GREENAPI_TOKEN=TU_TOKEN
SUPABASE_URL=https://hlqjcjnbtrivxbijcyvv.supabase.co
SUPABASE_SERVICE_KEY=TU_SERVICE_KEY
TELEGRAM_BOT_TOKEN=TU_BOT_TOKEN
RAUL_CHAT_ID=7828619885
WHATSAPP_GROUP_ID_1=120363425053127323@g.us
WHATSAPP_GROUP_ID_2=120363409369716281@g.us